In [1]:
s = "Hello World!"

print(s[0], end='@')
print(s[1])
print(s[2])

H@e
l

In [6]:
print(s[2:5]) #prints UNTIL BEFORE 5, does NOT print 5. for end of range, only prints until BEFORE it.
print(s[2:4])
print(s[3:])

llo
ll
lo World!

In [33]:
print(s*2)
print((s+" ")*2)

print(s*2, sep = " ") #separator argument
#^this doesn't work bc it gives one individual object

print(s, s, sep = " ") #separator argument
#^this gives 2 separate objects, so the separator argument works
#BUT s, s already gives the same result bc the comma spaces it out

print(s*2, end = "?") #end argument

Hello World!Hello World!
Hello World! Hello World!
Hello World!Hello World!
Hello World! Hello World!
Hello World!Hello World!?

In [4]:
print(s.lower())
print(s.upper())

print(s.replace('l','s')) #case sensitive. if it had been "helLo world", only the lower case l would be changed to s

print(s.lower().replace('l','s')) #can layer methods. goes in order.

hello world!
HELLO WORLD!
Hesso Worsd!
hesso worsd!

In [5]:
<class 'str'>
['He', 'Lo Wor', 'ld!']

SyntaxError: invalid syntax (1894306863.py, line 1)

In [11]:
# #split only takes a single sep character OR any whitespaces
# print(s.split['l'])
# print(s.split([' ']))

import re #this is the regex module
s = "Hello World!"
print(re.split('[lo]', s))

['He', '', '', ' W', 'r', 'd!']

In [17]:
Data = "hell2o"
print(Data.isdigit()) #isdigit: only 
print(Data.isnumeric()) #isnumeric: only numbers
print(Data.isalpha) #isalpha: only letters
print(Data.isalnum) 


#???????

False
False
<built-in method isalpha of str object at 0x00000230CD0172B0>
<built-in method isalnum of str object at 0x00000230CD0172B0>

In [20]:
name = "John"
age = 30
age_alphanum = "30"
#print using string concatenation
print("My name is " + name + " and I am " + str(age) + " years old.")
#print using format() method
print("My name is {} and I am {} years old.".format(name,age))
#print using f-string syntax
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 30 years old.
My name is John and I am 30 years old.
My name is John and I am 30 years old.

In [23]:
name = 'Alice'
age = 30
height = 5.889

double_age = f"{name} is {age * 2} years old (double the age)."
print(double_age)

formatted_height = f"{name}'s height is {height:.2f} feet (rounded to 2 decimal places)." #this actually rounds; doesn't chop off the end of the decimal
print(formatted_height)

Alice is 60 years old (double the age).
Alice's height is 5.89 feet (rounded to 2 decimal places).

In [29]:
s1 = 'Hello'
s2 = 'World'
s3 = "{} {}".format(s1, s2)
print('String Concatenation Using format() =', s3)


#or: 

s4 = "{n1} {in2}".format(in2=s2, n1=s1)
print('String Concatenation Using format() =', s4)

String Concatenation Using format() = Hello World
String Concatenation Using format() = Hello World

In [53]:
string1 = "Hello"
string2 = "World"
string3 = "Hello"

strings_equal = string1 == string2
print(strings_equal)   #prints False

strings_equal_1 = string1 == string3
print(strings_equal_1) #prints True

strings_not_equal = string1 != string2
print(strings_not_equal) #prints True

strings_not_equal_1 = string1 != string3
print(strings_not_equal_1) #prints False

string1_is_first = string1 < string2 #compares strings. 
'''
"alphabetical order. H is 8th in the alphabet, W is 23rd in alphabet. Lower case comes AFTER upper case. Numbers come BEFORE any letters. does NOT have to do with len()
'''
print(string1_is_first) #prints True

string1_is_second = string1 > string2
print(string1_is_second) #prints False

False
True
True
False
True
False

In [3]:
print('variable'.isidentifier())
variable = "my string"

print('123advariablename'.isidentifier()) #basically checks if it is a valid string. can't start with number?
print('adjfkjwrfwf'.isidentifier())

True
False
True